{{#if user}}
<form action="/" method="get">
  <div class="row g-3 align-items-center">
    <div class="col-2">
      <select class="form-select form-select-sm" aria-label="select month" name="searchYearMonth" onchange="this.form.submit()">
        <option value="" {{#unless searchYearMonth}}selected{{/unless}}>全部月份</option>
        {{#each yearMonthCombs}}
        <option value="{{this.year}}-{{this.month}}" {{#compareMonthYear ../searchYearMonth this.year this.month}}selected{{/compareMonthYear}}>{{this.year}}-{{this.month}}月</option>
        {{/each}}
      </select>
    </div>
    
    <div class="col-4">
      <select class="form-select form-select-sm" aria-label="select team" name="searchTeamId" onchange="this.form.submit()">
        <option value="" {{#unless searchTeamId}}selected{{/unless}}>全部球隊</option>
        {{#each teams}}
        <option value="{{this.id}}" {{#ifCond ../searchTeamId this.id}}selected{{/ifCond}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="col-4">
      <select class="form-select form-select-sm" aria-label="select arena" name="searchArena" onchange="this.form.submit()">
        <option value="" {{#unless searchArena}}selected{{/unless}}>全部場地</option>
        {{#each arenas}}
        <option value="{{this.arena}}" {{#ifCond ../searchArena this.arena}}selected{{/ifCond}}>{{this.arena}}</option>
        {{/each}}
      </select>
    </div>
  </div>
</form>
{{/if}}

{{> message}}
<div class="row mt-3">
  {{#each matches}}
  <div class="col-sm-6 col-md-6 col-lg-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <span class="float-end badge
        {{#ifCond this.type 'FINALS'}}bg-warning text-danger
        {{else}}
          {{#ifCond this.type 'PLAYOFFS'}}bg-primary
            {{else}}bg-secondary
          {{/ifCond}}
        {{/ifCond}}">
        {{this.type}}<br>{{this.game_id}}
        </span>
        <h5 class="card-title fw-bolder">{{parseDate this.game_time}} ({{parseDay this.game_time}})</h5>
        <h6 class="card-subtitle mb-2 fw-bold text-muted">{{parseTime this.game_time}}</h6>
        <div class="text-center d-flex justify-content-center align-items-center mb-3">
          <div>
            <img class="card-img-top" src="{{this.g_logo}}" alt="Card image cap"
              style="transition: opacity 0.5s; opacity:0; width:80px; height:80px" onload="this.style.opacity=1;">
            <div class="fs-6 fw-bolder">{{this.g_name}}</div>
          </div>
          <span class="mx-3"><i class="fa-solid fa-at"></i></span>
          <div>
            <img class="card-img-top" src="{{this.h_logo}}" alt="Card image cap"
              style="transition: opacity 0.5s; opacity:0; width:80px; height:80px" onload="this.style.opacity=1;">
            <div class="fs-6 fw-bolder">{{this.h_name}}</div>
          </div>
        </div>
        <div class="float-start"><i class="fa-solid fa-location-dot me-1"></i><span
            class="text-muted">{{this.arena}}</span></div>
        {{#ifCond ../user.isAdmin 'user'}}
        <br>
        <form action="/auth/schedule/{{this.season}}/{{this.type}}/{{this.game_id}}" method="post">
          <button type="submit" class="px-0 btn float-start btn-link text-decoration-none">
            <i class="fa-regular fa-calendar-plus me-1"></i><span class="text-muted">加入行事曆</span>
          </button>
        </form>
        {{/ifCond}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{#if user}}
{{!-- float window --}}
<button id="open-window-button" onclick="showWindow()"><i class="fa-solid fa-calendar-days"></i></button>
<div id="calendar-window" class="hidden">
  <div class="window-header">
    <div class="window-title">全賽程收錄</div>
    <button class="close-button" onclick="closeWindow()">x</button>
  </div>
  <a class="dropdown-item mb-1 mt-1"  href="/plus-league-calendar.ics" download="plus_league_schedule.ics">Apple</a>
  <a class="dropdown-item"  href="/auth/scheduleAll/2023/">Google</a>
</div>
{{/if}}