{{#if user}}
<form action="/" method="get">
  <div class="row g-3 align-items-center">
    <div class="col">
      <select class="form-select form-select-sm" aria-label="Default select example" name="searchTeamId">
        <option value="" {{#unless teamFilter}}selected{{/unless}}>全部球隊</option>
        {{#each teams}}
        <option value="{{this.id}}" {{#ifCond ../searchTeamId this.id}}selected{{/ifCond}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col">
      <select class="form-select form-select-sm" aria-label="Default select example" name="searchArena">
        <option value="" {{#unless arena}}selected{{/unless}}>全部場地</option>
        {{#each arenas}}
        <option value="{{this.arena}}" {{#ifCond ../searchArena this.arena}}selected{{/ifCond}}>{{this.arena}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-secondary">查詢</button>
    </div>
  </div>
</form>
{{/if}}
{{> message}}
<div class="row mt-3">
  {{#each matches}}
  <div class="col-sm-6 col-md-6 col-lg-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <span class="float-end badge bg-secondary">G{{this.game_id}}</span>
        <h5 class="card-title fw-bolder">{{parseDate this.game_time}} ({{parseDay this.game_time}})</h5>
        <h6 class="card-subtitle mb-2 fw-bold text-muted">{{parseTime this.game_time}}</h6>
        <div class="text-center d-flex justify-content-center align-items-center mb-3">
          <div>
            <img class="card-img-top" src="{{this.g_logo}}" alt="Card image cap"
              style="transition: opacity 0.5s; opacity:0; width:80px; height:80px" onload="this.style.opacity=1;">
            <div class="fs-6 fw-bolder">{{this.g_name}}</div>
          </div>
          <span class="mx-3"><i class="fa-solid fa-at"></i></span>
          <div>
            <img class="card-img-top" src="{{this.h_logo}}" alt="Card image cap"
              style="transition: opacity 0.5s; opacity:0; width:80px; height:80px" onload="this.style.opacity=1;">
            <div class="fs-6 fw-bolder">{{this.h_name}}</div>
          </div>
        </div>
        <div class="float-start"><i class="fa-solid fa-location-dot me-1"></i><span
            class="text-muted">{{this.arena}}</span></div>
        {{#ifCond ../user.isAdmin 'user'}}
        <br>
        <form action="/auth/schedule/{{this.game_id}}" method="get">
          <button type="submit" class="px-0 btn float-start btn-link text-decoration-none">
            <i class="fa-regular fa-calendar-plus me-1"></i><span class="text-muted">加入行事曆</span>
          </button>
        </form>
        {{/ifCond}}
      </div>
    </div>
  </div>
  {{/each}}
</div>